*.zip
MyAutoPano/Phase2/Checkpoints
MyAutoPano/Phase2/Code/Logs
MyAutoPano/Phase2/Data/Train
MyAutoPano/Phase2/Data/TrainOrgsImgs
MyAutoPano/Phase2/Data/Val
MyAutoPano/Phase2/Data/ValOrgImgs
MyAutoPano/Phase2/Data/Test
MyAutoPano/Phase2/Data/TestOrgImgs
ajayamoorthy_p1/Phase2/Data/TrainSamples
FaceSwap/Data/*.mp4
FaceSwap/Data/*.jpeg
FaceSwap/Data/*.webp
FaceSwap/Data/*.JPG